RewriteEngine On

# Izinkan akses langsung ke file & folder
RewriteCond %{REQUEST_URI} ^/assets/ - [L]

# Jika mengakses root "/" maka arahkan ke halaman login
RewriteRule ^$ assets/pages/login/login.html [L]

# Jika halaman tidak ditemukan, tetap arahkan ke login
ErrorDocument 404 /assets/pages/login/login.html
